@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

:root {
    --blue: #0F2C67;
    --red: #CD1818;
    --orange: #F3950D;
    --yellow: #F4E185;

    --fredoka: 'Fredoka One', cursive;
    --lexend: 'Lexend', sans-serif;
}

/* header */
* {

    font-family: var(--lexend);
}

.navbar {
    background-color: #000 !important;
}

.navbar-right {
    margin: 0 0 0 auto;
}

.navbar .navbar-toggler {
    background-color: transparent !important;

}

.navbar .navbar-toggler {
    border: 1px solid var(--orange);
}

/* main */

/* home */
#home {
    margin-top: 55px;
    background: url(../img/home3.jpg) no-repeat;
    width: 100%;
    height: 88vh;
}

#home .title{
    padding: 60px;
}

#home .title h1 {
    font-size: 60px;
    color: white;
}

/* content */
/* content-art */
#content {
    padding-top: 50px;
    height: 200vh;
    background: url(../img/Homepage.jpg) no-repeat;
    color: #fff;
}

#content h1 {
    color: #000;
}

#content .shadow-effect {
    background: #000;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0 19px 38px rgba(255,255,255,0.08), 0 15px 12px rgba(255,255,255,0.08);
}

#content #content-box .shadow-effect p{
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

#content .location {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #fff;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #000;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

#content #content-box .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#content #content-box .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

#content .owl-carousel .owl-item img {
    max-width: 150px;
    margin: 0 auto 17px;
    border-radius: 6px;
}

#content #content-box.owl-carousel .owl-dots .owl-dot.active span, 
#content #content-box.owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #42FF00;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#content #content-box.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#content #content-box.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#content #content-box.owl-carousel .owl-dots .owl-dot span {
    background: #42FF00;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

/* content category */

#category .card {
    background: #000;
    width: 200px;
}
